<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.Kconfig.fmautorepair"
			class = "fmautorepair.kconfig.KconfigPackage"
			genModel = "model/generated/Kconfig.genmodel" />
	</extension>
</plugin>
